h1 {
  color: maroon;
}

.picture{
  position: relative;
}


@media screen and (max-width: 500px) {
  body {
    background-color: yellowgreen;
  }
  h1{
    color:blue;
  }
}

.mod {
  float: left;
}
.mag {
  float: right;
}
